[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:franpfeiffer/nvim.git
[submodule "env/.config/env/.config/nvim"]
	path = env/.config/env/.config/nvim
	url = git@github.com:franpfeiffer/nvim.git
